<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227029408452-42ip8q18adfl4u67dr2u33tkm0g94ads.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227029408452-42ip8q18adfl4u67dr2u33tkm0g94ads</string>
	<key>API_KEY</key>
	<string>AIzaSyBZPecL60cohFDjul-xyrHKCXn4-GW9cDY</string>
	<key>GCM_SENDER_ID</key>
	<string>227029408452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.marcomeisen.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4421b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4421b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227029408452:ios:1935aec20e7e42acfb4791</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-4421b.firebaseio.com</string>
</dict>
</plist>